body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(187, 194, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    font-size: 28px;
    margin: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

nav li {
    margin-right: 12px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.form-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.form-button-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-button-container button {
    margin: 5px;
    padding: 15px 60px;
    font-size: 18px;
    background-color: rgb(187, 194, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-button-container button:hover {
    background-color: #629dfd;
}

#login-form,
#new-patient-form {
    background-color: rgb(187, 194, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.login-options label {
    margin-bottom: 15px;
}

#login-form a {
    text-decoration: none;
    font-weight: bold;
}

#login-form input,
#new-patient-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #686868;
    border-radius: 5px;
    box-sizing: border-box;
}

#login-form label,
#new-patient-form label {
    font-weight: bold;
}

#login-form .toggle {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.toggle-label {
    margin-left: 5px;
}

#login-form button,
#new-patient-form button {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 18px;
    border: 1px solid;
    cursor: pointer;
}